<!DOCTYPE html>
<html>
  <head>
    <title>AjaxValidation</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag 'jquery-1.4.4.min', 'jquery.validate.min', 'jquery.validate_regex' %>
    <%= javascript_include_tag 'green_light' %>
    <%= yield(:head) %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <em><%= flash[:notice] %></em>
    <%= yield %>
  </body>
</html>
